<div class='kontainer'>
    <img src='/assets/Background.png' alt="Snow" style="width:100%;">
  <div class='centered'>DISTINCTIVELY DESIGNED & ELEGANTLY EXECUTED EVENTS </div>
  </div>

  <div class='purp'>
    <p>Twirl focuses on every aspect of your event, from the minutia to the mega,
      from the granular to the grandeur, from under-the-radar to over-the-top. We perform
      perfectly by listening intently. Your unique corporate sensibility and brand personality drives
      our execution. We’ve been elegantly executing corporate events for over 50 cumulative years with
      more than 600 successful soirées, galas, functions, gatherings, parties and RSVP-inducing experiences.</p>
  </div>

  <div class="flairTitle">
    <br>

      <h2>WE HAVE A FLAIR FOR</h2>
  </div>

  <div class='flair'>
    <div class="planning">
      <br>
      <h4>PLANNING</h4>
      <br>
      <div class='listItems'>
         <p> Creative Concepting</p>
          <p>Event Ideation and Design</p>
          <p>Budgeting</p>
          <p>Site Inspections</p>
          <p>Sourcing and Gifts</p>
          <p>Catering</p>
          <p>Vendor Relations</p>
          <p>Security</p>
          <p>Permit Procurement</p>
          <p>Executive Services</p>
          <p>Transportation</p>
      </div>
    </div>
    <div class="production">
      <br>
        <h4>PRODUCTION</h4>
        <br>
        <div class='listItems'>
          <p>Print and Collateral</p>
          <p>Decor and Styling</p>
          <p>Event Rentals</p>
          <p>Audio and Visual</p>
          <p>Lighting</p>
          <p>Talent Booking</p>
          <p>Technical Support</p>
          <p>Stage Design and Management</p>
          <p>Social Media</p>
        </div>
    </div>
    <div class="executive">
      <br>
        <h4>EXECUTIVE & LOGISTICS</h4>
        <br>
        <div class='listItems'>
          <p>On-Site Event Management</p>
          <p>Vendor Management</p>
          <p>Event Staffing</p>
          <p>Photography</p>
          <p>Shipping</p>
          <p>Recap and Results</p>
        </div>
    </div>
  </div>
  <div class="flairTitle">
      <br>

        <h2>WE TWIRL WITH</h2>
    </div>
  <div class="clientList">
<img src="/assets/clients/Cambria-logo-1.png" alt="">
<img src="/assets/clients/crayola.png" alt="">
<img src="/assets/clients/ChipGanassi.png" alt="">
<img src="/assets/clients/crest.png" alt="">
<img src="/assets/clients/galliard.png" alt="">
<img src="/assets/clients/gmills.png" alt="">
<img src="/assets/clients/Hines.png" alt="">
<img src="/assets/clients/infosys.png" alt="">
<img src="/assets/clients/KidsInNeed.png" alt="">
<img src="/assets/clients/KNOCK.png" alt="">
<img src="/assets/clients/MLoft.png" alt="">
<img class='mohagen' src="/assets/clients/mohagen-hansen.png" alt="">
<img src="/assets/clients/national-colition.png" alt="">
<img class='navy' src="/assets/clients/navycircle.png" alt="">
<img src="/assets/clients/Optum.png" alt="">
<img class='pin' src="/assets/clients/Pinterest.png" alt="">
<img src="/assets/clients/pnc_bank.png" alt="">
<img src="/assets/clients/Red-Bull.png" alt="">
<img src="/assets/clients/st-jude.png" alt="">
<img src="/assets/clients/swell.png" alt="">
<img class='target' src="/assets/clients/Target.png" alt="">
<img src="/assets/clients/unilever.png" alt="">
<img src="/assets/clients/us-bank.png" alt="">
  </div>
