<div class='kontainer'>
    <img src='/assets/Background.png' alt="Snow" style="width:100%;">
  <div class='centered'>DISTINCTIVELY DESIGNED & ELEGANTLY EXECUTED EVENTS </div>
  </div>

  <div class='purp'>
    <p class='twirltext' >We are Twirl, a boutique, family-owned, women-run event planning agency       <br>creating stunning events from coast to coast.

      We will change the way you plan, stage and execute your next memory in the making, and       <br>the way your guest experiences, enjoys and recalls your next big moment in the spotlight.</p>
  </div>
