.navbar-light .navbar-brand{
  color:white;
}


.navbar-brand{
  color:black!important;
}


.navbar-light .navbar-nav .nav-link{
border-bottom: 3px solid #1a1528;
margin-right:10px;
color:black!important;
}

.navbar{
  background: #fcf9f1!important;
  color:black!important;
}

img{
  outline: none!important;
}

li{
  text-transform:uppercase;
  font-family: 'montserratregular',sans-serif;
  letter-spacing: 2px;
  font-weight:270;
}
