<!-- <div class='kontainer'>
    <img src='/assets/Background.png' alt="Snow" style="width:100%;">
  <div class='centered'>DISTINCTIVELY DESIGNED & ELEGANTLY EXECUTED EVENTS </div>
  </div> -->
  <head>
      <script src="jq.js"></script>
  </head>

  <div class='kontainer'>
  <div class="title">
      <h1>DISTINCTIVELY DESIGNED &
        ELEGANTLY EXECUTED
        EVENTS</h1>
     </div>




<hr style='background:white; height:2px;'>

  <div class='purp'>
    <div class="leftIcons">

     <li><i class="fa fa-female fa-2x" aria-hidden="true"><span>Woman Run</span></i></li><br>
      <li><i class="fa fa-users fa-2x" aria-hidden="true"><span>Family Owned</span></i></li>
      </div>
      <div class="rightIcons">
         <li> <i class="fa fa-plane fa-2x" aria-hidden="true"><span>Coast to Coast</span></i></li><br>
          <li><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"><span>Amazing Events</span></i></li>
      </div>


    <!-- <p class='twirltext' >We are Twirl, a boutique, family-owned, women-run event planning agency creating stunning events from coast to coast.
      We will change the way you plan, stage and execute your next memory in the making, and the way your guest experiences, enjoys and recalls your next big moment in the spotlight.</p> -->
  </div>
</div>







  <div class='dotsbackground' alt="">
   <div class='dotText'><h4>TWIRL PUTS MOVEMENT IN YOUR MOMENT AND
     <br>
      EXPERTISE INTO YOUR EVENTS.</h4></div>
   <div class='dotText'><h3>WE WILL HELP YOU MOVE TO AN ENTIRELY NEW LEVEL OF SOCIAL PLANNING AND RESULTS.</h3></div>
   <div class='dotText'><h5> (and we mean, real, live, face-to-face social)</h5></div>
  </div>


